/* classes for both Side text && SlideImage */
.container {
  display: grid;
  grid-template-columns: 40% 60%;
  padding-inline: 5%;
}

/* class for SlideImage only */
.slideimage {
  background-size: cover;
  margin-top: 5vh;
  margin-left: 3vw;
  margin-right: 5vw;
  height: 60vh;
  width: 45vw;
  /* padding-inline: 2rem 2rem; */
}

/* class for Side Text only */
.sidetext {
  margin-top: 4vh;
  margin-right: 5vw;
  border-right: 5vw;
  width: 40vw;
}

/* classes for inner text in Side Text .h2, .h3, .h4 */
.h2 {
  font-size: 30px;
  padding-left: 5vw;
  /* margin-left: 5vw; */
  margin-right: 2vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  color: rgba(234, 107, 31, 1);
}

.h3 {
  padding-left: 8vw;
  /* margin-left: 5vw; */
  margin: 10px 2vw 0px 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  color: rgba(255, 157, 40, 1)
}

.h4 {
  padding-left: 8vw;
  /* margin-left: 5vw; */
  margin: 0 2vw 2vh 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  color: rgba(31, 78, 89, 1);
}

@media only screen and (max-width: 450px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .slideimage {
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 5vh;
    margin-left: 3vw;
    margin-right: 5vw;
    height: 45vh;
    width: 90vw;
    background-position-y: 25px;

  }

  .sidetext {
    margin-top: 4vh;
    margin-right: 5vw;
    border-right: 5vw;
    width: 90vw;
  }

}